*{
    margin: 0;
    padding:0;
}

:root{
    font-family: "Kanit", sans-serif;
    --nav-separator-color: #6b7dc7;
}

body{
    overflow-x: hidden;
}

.center-full{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Start Nav Styles */

nav{
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 10vw;
    height: 100vh;
    left: 0;
    right:0;
    color: rgb(241, 241, 241);
    background-color: #5365ad;
    font-family: "Kanit", sans-serif;
}

#navLogo{
    text-align: center;
    padding: 1vh 0 2.5vh 0;
    margin:  0 0 5vh 5%;
    width: 90%;
    font-size: 2.5em;
    border-bottom: 1px solid var(--nav-separator-color);
}

nav .tools-title{
    width: 90%;
    margin-left: 10%;
    font-size: 1em;
    margin-bottom: 1.5vh;
    font-weight: 200;
}

nav a{
    display: inline-block;
    width: 90%;
    color: rgb(241, 241, 241);
    text-decoration: none;
    text-align: center;
    padding: 0.5vh 0;
    margin: 1vh 0 1vh 5%;
    font-size: 1.1em;
    font-weight: 300;
    position: relative;
}
nav a::before{
    content: "";
    display: inline-block;
    position: absolute;
    top:-1vh;
    left:0;
    width: 100%;
    height: 1px;
    background-color: var(--nav-separator-color);
}
nav a:nth-child(3)::before{
    display: none;
}

nav a::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    border-radius: 10px;
    opacity: 0;
    background-color: #2d375c;
    z-index: -999;
}
nav a.active::after{
    opacity: 1;
}

nav a:not(.active):hover::after{
    opacity: 0.3;
}

/* End Nav Styles */

/* Main Page Styles */

#mainContent{
    width: 90vw;
    min-height: 100vh;
    margin-left: 10vw;
}

#pageTitle{
    text-align: center;
    font-size: 5em;
    font-weight: 100;
}


/* Form styles */
#loginForm{
    width: 50%;
    border: 1px solid #ccc;
}
#formTitle{
    text-align: left;
    margin: 2vh 2vw;
    font-size: 2.5em;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}
#loginForm input[type="password"]{
    font-size: 1.2em;
    width: 15vw;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}
#loginForm input[type="submit"]{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    margin-left: 0.5vw;
    width: 5vw;
    background-color: #a3b2ee;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
}
#loginForm input[type="submit"]:hover{
    background-color: #8995c4;
}

.form-error{
    color: rgb(204, 0, 0);
    text-align: center;
}

/* HOME PAGE STYLES */
#homeText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    font-weight: 300;
    background-color: #a3b2ee83;
    width: 40%;
    margin:20vh 0 0 30%;
    aspect-ratio: 1/0.25;
    border: 0ps solid transparent;
    border-radius: 5px;
}

/* Tools Generic Styles */
#actionBar{
    background-color: #5365ad;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5vh 0;
}
.button-one{
    display: inline-block;
    width: 8vw;
    text-align: center;
    padding: 0.3vw 0;
    font-size: 1vw;
    position: relative;
    z-index: 997;
    transition: 0.3s background-color;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background-color: #535E88;
}
.button-one:hover{
    background-color: #6775ac;
}
#actionBar button{
    width: 10vw;
    font-size: 1.5em;
    background-color: #7f93e0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 100;
    margin: 0 1vw;
}
#actionBar button:hover{
    background-color: #6979b9;
}
#actionBar button#removeAlbumButton{
    background-color: #e74c3c;
}
#actionBar button#removeAlbumButton:hover{
    background-color: #ee6353;
}

/* Bulletin Styles */
.center:has(#bulletinVal){
    margin-top: 5vh;
}
label[for="bulletinVal"]{
    font-size: 1.4em;
}
#bulletinVal{
    width: 60%;
    font-size: 1em;
}

/* Photos Styles */
.link-container{
    margin: 1vh 0 1vh 25%;
    width: 50%;
    position: relative;
    height: 2vw;
}
.link-container input{
    width: 90%;
    height: 100%;
    padding: 0 9% 0 0;
    font-size: 1vw;
    font-weight: 100;
}
.remove-image{
    position: absolute;
    right:0;
    top:0;
    width: 10%;
    height: 100%;
    background-color: #e74c3c;
    border: 2px solid transparent;
    background-image: url("../../img/exit.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.remove-image:hover{
    background-color: #c44234;
}

#addPhotosInput{
    font-size: 1vw;
    width: 40%;
    resize: none;
}
#addPhotosContainer{
    position: relative;
    display: none;
}
#addPhotosOptions{
    position: absolute;
    height: 100%;
    width: 5vw;
    background-color: #2d375c;
    left: 70%;
    top:0;
}
#addPhotosOptions div{
    width: 100%;
    height: 50%;
    background-color: #c44234;
    background-image: url("../../img/exit.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#addPhotosOptions .submit{
    background-image: url("../../img/checkmark.svg");
    background-color: #34c470;
}
#addPhotosOptions .submit:hover{
    background-color: #2a9958;
}
#addPhotosOptions .cancel:hover{
    background-color: #882f25;
}